<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GamePage</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../asset/css/gamepage.css">
    <link rel="stylesheet" href="../asset/bootstrap/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body style="background-color: #210002;">

    <div class="banner">
        <div class="bg bg-1"></div>
        <div class="bg bg-2"></div>
        <div class="bg bg-3"></div>
        <h1>Pameran Game!</h1>
        <div class="bg bg-4"></div>
        <div class="bg bg-5"></div>
        <div class="bg bg-6"></div>
        <div class="bg bg-7"></div>
        <div class="bg bg-8"></div>
        <div class="bg bg-9"></div>
    </div>

    <div class="tab intro">
        <h2 class="animation-show">Pameran Game</h2>
        <img src="../asset/img/PameranLogo.png" class="animation-show" alt="">
    </div>

    <div class="game container-fluid active">
        <div class="row justify-content-center col-xl-12 col-12 col-md-12 col-sm-12 mt-5 pt-5 mx-auto">
            <div class="row justify-content-center col-xl-6 col-12 col-sm-12 col-md-6">
                <div class="animation-show row justify-content-center">
                    <a class="row justify-content-center" href="game/dinorun.html"><img src="../asset/img/GameImage/game1.jpg" width="400" alt=""></a>
                    <p class="text-white mt-2 fw-bold">Game Name</p>
                </div>
            </div>
            <div class="row justify-content-center col-xl-6 col-12 col-sm-12 col-md-6">
                <div class="animation-show row justify-content-center">
                    <a class="row justify-content-center" href="game/dinorun.html"><img src="../asset/img/GameImage/game1.jpg" width="400" alt=""></a>
                    <p class="text-white mt-2 fw-bold">Game Name</p>
                </div>
            </div>
            <div class="row justify-content-center col-xl-6 col-12 col-sm-12 col-md-6">
                <div class="animation-show row justify-content-center">
                    <a class="row justify-content-center" href="game/dinorun.html"><img src="../asset/img/GameImage/game1.jpg" width="400" alt=""></a>
                    <p class="text-white mt-2 fw-bold">Game Name</p>
                </div>
            </div>
            <div class="row justify-content-center col-xl-6 col-12 col-sm-12 col-md-6">
                <div class="animation-show row justify-content-center">
                    <a class="row justify-content-center" href="game/dinorun.html"><img src="../asset/img/GameImage/game1.jpg" width="400" alt=""></a>
                    <p class="text-white mt-2 fw-bold">Game Name</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Java Script -->
    <script src="../asset/javascript/gamepage.js"></script>
    <script src="../asset/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>